# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# Streamlit secrets
.streamlit/secrets.toml

# Local session storage & ChromaDB
data/user_session.json
chroma_db/
